/**********************************
      * Styles for todolist page
**********************************/


* {
  box-sizing: border-box;
}

body{
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  font-family: 'Open Sans', sans-serif;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: url(../img/creek.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

/**********************************
        *Reusable classes
**********************************/

.clearfix::after {
    content: '';
    display: table;
    float: none;
    clear: both;
    height: 0;
    visibility: hidden;
  }


.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
  float: left;
}

.centered-content {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

/**********************************
          *Tiltle bar
**********************************/

.title-bar {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.title-bar-buttons {
  display: inline-block;
  float: left;
  margin: 18px;
}

.title-bar-buttons a {
  box-sizing: content-box;
  display: block;
  width: 11px;
  height: 11px;
  float: left;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.4);
  text-indent: -9999px;
  border-radius: 10px;
}

.title-all-tasks {
  display: inline-block;
  margin: 35px 0 10px 0;
  font-weight: bold;
  font-size: 18px;
}

.title-aux-buttons {
  display: inline-block;
  float: right;
  margin: 35px 16px 10px 0;
}

.title-aux-buttons a {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 8px;
}

/**********************************
        * Navigation
**********************************/

.main-nav {
  width: 70px;
  float: left;
}

.main-nav a {
  text-decoration: none;
  position: relative;
  height: 70px;
  display: block;
}

.nav-icon {
  color: rgba(255, 255, 255, 0.8);
}

.tasks-button {
  background-color: #55566e;
}

.home-button {
  background-color: #ff5f65;
}

.briefcase-button {
  background-color: #fdcd63;
}

.screen-button {
  background-color: #d575f8;
}

.users-button {
  background-color: #00eeb8;
}

.gear-button {
  background-color: #343f46;
}


/**********************************
    * Main section, task boxes
**********************************/

.tasks-wrapper {
  width: 530px;
  float: left;
}

.task-box {
  background-color: #55566e;
  border-bottom: 1px solid #9596a4;
  display: table;
}

.task-box span {
  color: #9596a4;
}

.task-box h1 {
  clear:both;
  font-weight: normal;
  font-size: 45px;
  margin: 35px 0 0;
  line-height: 1.4;
}

.location-and-date {
  color: #9596a4;
  display: inline-block;
  float: left;
  font-weight: bold;
  font-size: 12px;
  margin: 5px;
}

.favourite {
  display: inline-block;
  float: right;
}

.task-content {
  padding: 25px 25px 15px;
  position: relative;
}

.task-content::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #ff5f65;
}

.checkbox {
  background-color: #4c4b62;
  width: 45px;
  position: relative;
}

.checkbox, .task-content {
  display: table-cell;
}
